h4{
    margin-left: 20px;
}
#rectangle1{
    width:190px;
    height:351px;
    background:blue;
}
#rectangle2{
    width:500px;
    height:500px;
    background:green;
}
#rectangle3{
    width:190px;
    height:351px;
    background:red;
}
#rectangle4{
    width:500px;
    height:500px;
    background:pink;
}